/* Setting the first font for all page */

body{
    font-family: "Mine", serif;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--gray_background);
}

button{
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border: none;
    box-shadow: 0 0 4px var(--black_text);
}