/* Start styling the section four */

.sec_4{
    min-height: 440px;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* Transition effects for all elements in this section */
.sec_4 *{
    transition: .4s all ease;
}
    .sec_4 .left_side{
        max-width: 484px;
        height: 412px;
        border: 4px solid var(--black_text);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 40px;
        align-items: flex-start;
    }   
        /* First sec of left */
        .sec_4 .left_side .name_div{
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            justify-content: space-evenly;
            height: 72px;
            width: 70%;
            column-gap: 20px;
        }
            .sec_4 .left_side .name_div img{
                border-radius: 50%;
            }
            .sec_4 .left_side .name_div p.name_title{
                font-family: "Mine";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: -0.48px;
                color: var(--black_text);
            }
            .sec_4 .left_side .name_div p.name_text{
                font-family: "Mine";
                font-size: 16px;
                font-style: italic;
                font-weight: 100;
                line-height: 24px;
                letter-spacing: -0.32px;
                color: var(--gray_text);
            }
            /* Second sec of left */
        .sec_4 .left_side .paragraph{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            height: 48px;
        }
            .sec_4 .left_side .paragraph span{
                font-family: "Mine";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
                letter-spacing: -0.32px;
                color: var(--black_text);
            }
            /* Third sec of left */
        .sec_4 .left_side .commits{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            width: 100%;
        }
            .sec_4 .left_side .commits div{
                width: 45%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;
            }
                .sec_4 .left_side .commits div p{
                    font-family: "Mine";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: -0.32px;
                    color: var(--gray_text); 
                    text-transform: uppercase;
                }
                .sec_4 .left_side .commits div span{
                    font-family: "Mine";
                    text-transform: uppercase;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: -0.32px;
                    color: var(--black_text); 
                }
            /* Last and fourth sec of left */
        .sec_4 .left_side .link{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 56px;
            background: var(--black_text);
            border-radius: 20px;
        }
            .sec_4 .left_side .link a{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white_text);
                text-decoration: none;
                font-family: "Mine";
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: -0.48px
            }

    .sec_4 .right_side{
        padding-top: 20px;
        height: 354px;
        max-width: 644px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
        .sec_4 .right_side h4{
            font-family: "Mine";
            font-size: 48px;
            font-style: normal;
            font-weight: 800;
            line-height: 64px;
            color: var(--black_text);
            text-align: justify;
        }
        .sec_4 .right_side p{
            font-family: "Mine";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.36px;
            color: var(--black_text);
            text-align: justify;
        }

            /* Hovers */

        .sec_4 .left_side:hover{
            filter: blur(2px);    
        }
        .sec_4 .left_side .link:hover{
            background: var(--white_text);
            border: 2px solid var(--green_text);
        }
        .sec_4 .left_side .link:hover a{
            color: var(--green_text);
        }

        .sec_4 .right_side:hover img{
            margin-left: 90%;
        }
        