/* styling of section_one */
.sec_7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60vh;
    max-height: 80vh;
    min-height: 60vh;
}
    .sec_7 .left_side{
        max-width: 750px;
        width: 750px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: start;
    }
        .sec_7 .left_side div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            height: 180px;
        }
            .sec_7 .left_side div .h1{
                font-family: 'Mine';
                font-size: 48px;
                font-style: normal;
                font-weight: 800;
                line-height: 64px; 
                width: 100%;
                color: var(--black_text);
            }
            .sec_7 .left_side div p{
                font-family: 'MineOpen';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                color: var(--gray_text);
                line-height: 26px;
                letter-spacing: -0.36px;
            }
        .sec_7 .left_side button{
            max-width: 220px;
            width: 80%;
            height: 64px;
            padding: 20px 24px;
            border: none;
            background: var(--button_green);
            border-radius: 8px;
            color: var(--white_text);
            font-family: 'Mine';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            transition: .6s all ease;
            cursor: pointer;
        }
        /* Styling hover effect on button */
        .sec_7 .left_side button:hover{
            background: var(--black_text);
        }
        /* Hover effect on button */
    /* Styling side with background image */
    .sec_7 .right_side{
        display: flex;
        width: 640px;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .sec_7 .right_side img{
            width: 640px;
            height: 360px;
        }